h1 {
  color: #DC143C;
text-align: center;
  font-family: Luminari, fantasy;
  font-size:50px
}
h2 {
color: #DC143C;
text-align: center;
  font-family: Luminari, fantasy;
  
}
h3 {
color: #DC143C;
text-align: center;
  font-family: Luminari, fantasy;
}

h4 {
color: #DC143C;
text-align: center;
  font-family: Luminari, fantasy;
}
h5 {
color: #DC143C;
text-align: center;
  font-family: Luminari, fantasy;
}
h6 {
color: #DC143C;
text-align: center;
  font-family: Luminari, fantasy;
}

p {
  color: #DC143C;
  text-align: center;
  font-family: bradley hand, cursive;
  font-size: 14px;
}


body {
  background: linear-gradient(0, #E6E6FA, #4B0082);
}
